Problem Statement

In this assignment, students will be using the K-nearest neighbors algorithm to predict how many points NBA players scored in the 2013-2014 season.

A look at the data

Before we dive into the algorithm, let’s take a look at our data. Each row in the data contains information on how a player performed in the 2013-2014 NBA season.

Download 'nba_2013.csv' file from this link:
https://www.dropbox.com/s/b3nv38jjo5dxcl6/nba_2013.csv?dl=0
Here are some selected columns from the data:
player - name of the player
pos - the position of the player
g - number of games the player was in
gs - number of games the player started
pts - total points the player scored

There are many more columns in the data, mostly containing information about average player game performance over the course of the season. See this site for an explanation of the rest of them.

We can read our dataset in and figure out which columns are present:
import pandas
with open("nba_2013.csv", 'r') as csvfile:
nba = pandas.read_csv(csvfile)

In [1]:
#import libraries 
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
#read data from csv
nba = pd.read_csv("nba_2013.csv")

In [3]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [4]:
nba.shape

(481, 31)

In [5]:
nba.isnull().any()

player          False
pos             False
age             False
bref_team_id    False
g               False
gs              False
mp              False
fg              False
fga             False
fg.              True
x3p             False
x3pa            False
x3p.             True
x2p             False
x2pa            False
x2p.             True
efg.             True
ft              False
fta             False
ft.              True
orb             False
drb             False
trb             False
ast             False
stl             False
blk             False
tov             False
pf              False
pts             False
season          False
season_end      False
dtype: bool

In [6]:
# Drop null values
nba=nba.dropna()
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013
6,LaMarcus Aldridge,PF,28,POR,69,69,2498,652,1423,0.458,...,599,765,178,63,68,123,147,1603,2013-2014,2013
7,Lavoy Allen,PF,24,TOT,65,2,1072,134,300,0.447,...,192,311,71,24,33,44,126,303,2013-2014,2013

In [7]:
nba.isnull().any()

player          False
pos             False
age             False
bref_team_id    False
g               False
gs              False
mp              False
fg              False
fga             False
fg.             False
x3p             False
x3pa            False
x3p.            False
x2p             False
x2pa            False
x2p.            False
efg.            False
ft              False
fta             False
ft.             False
orb             False
drb             False
trb             False
ast             False
stl             False
blk             False
tov             False
pf              False
pts             False
season          False
season_end      False
dtype: bool

In [8]:
#Find euclidean distance
#Select Lebron James from our dataset
import math
selected_player = nba[nba["player"] == "LeBron James"].iloc[0]

# Choose only the numeric columns (we'll use these to compute euclidean distance)
distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']

def euclidean_distance(row):
    """
    A simple euclidean distance function
    """
    inner_value = 0
    for k in distance_columns:
        inner_value += (row[k] - selected_player[k]) ** 2
    return math.sqrt(inner_value)

# Find the distance from each player in the dataset to lebron.
lebron_distance = nba.apply(euclidean_distance, axis=1)

In [9]:
#Normalizing columns
# Select only the numeric columns from the NBA dataset
nba_numeric = nba[distance_columns]
# Normalize all of the numeric columns
nba_normalized = (nba_numeric - nba_numeric.mean()) / nba_numeric.std()

In [10]:
#Finding the nearest neighbour 
from scipy.spatial import distance

# Fill in NA values in nba_normalized
nba_normalized.fillna(0, inplace=True)

# Find the normalized vector for lebron james.
lebron_normalized = nba_normalized[nba["player"] == "LeBron James"]

# Find the distance between lebron james and everyone else.
euclidean_distances = nba_normalized.apply(lambda row: distance.euclidean(row, lebron_normalized), axis=1)

# Create a new dataframe with distances.
distance_frame = pd.DataFrame(data={"dist": euclidean_distances, "idx": euclidean_distances.index})
distance_frame.sort_values("dist", inplace=True)
# Find the most similar player to lebron (the lowest distance to lebron is lebron, the second smallest is the most similar non-lebron player)
second_smallest = distance_frame.iloc[1]["idx"]
most_similar_to_lebron = nba.loc[int(second_smallest)]["player"]

In [11]:
#Generating training & testing dataset
import random
from numpy.random import permutation

# Randomly shuffle the index of nba.
random_indices = permutation(nba.index)

# Set a cutoff for how many items we want in the test set (in this case 1/3 of the items)
test_cutoff = math.floor(len(nba)/3)

# Generate the test set by taking the first 1/3 of the randomly shuffled indices.
test = nba.loc[random_indices[1:test_cutoff]]

# Generate the train set with the rest of the data.
train = nba.loc[random_indices[test_cutoff:]]

In [12]:
#Using sklearn for K nearest neighbors 
# The columns that we will be making predictions with.
x_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']
# The column that we want to predict.
y_column = ["pts"]


from sklearn.neighbors import KNeighborsRegressor
# Create the knn model.
# Look at the five closest neighbors.
knn = KNeighborsRegressor(n_neighbors=5)
# Fit the model on the training data.
knn.fit(train[x_columns], train[y_column])
# Make point predictions on the test set using the fit model.
predictions = knn.predict(test[x_columns])
print(predictions)

[[ 109.4]
 [ 240.8]
 [1062.6]
 [ 354.2]
 [ 256.6]
 [  66. ]
 [ 188.6]
 [ 846.6]
 [  82. ]
 [ 324.8]
 [ 850.2]
 [ 121.2]
 [ 391.6]
 [ 410.8]
 [ 611.4]
 [ 189.6]
 [ 990.6]
 [ 126. ]
 [  82.4]
 [ 357.8]
 [1043.2]
 [ 179.6]
 [  95.6]
 [  33.6]
 [ 200.6]
 [ 493.8]
 [1322. ]
 [ 151.4]
 [ 365.2]
 [ 693.2]
 [1157.6]
 [ 817. ]
 [   7. ]
 [  79.6]
 [ 468.2]
 [ 181.4]
 [ 801.4]
 [1756.6]
 [   7. ]
 [1097.6]
 [ 334.2]
 [ 113. ]
 [ 229.6]
 [ 576.4]
 [  29.2]
 [  95.6]
 [ 402.6]
 [ 671.4]
 [ 620. ]
 [ 659. ]
 [  37.2]
 [ 243.6]
 [  55.2]
 [ 492.4]
 [ 650.6]
 [  68.8]
 [1463.2]
 [  52.4]
 [  92. ]
 [ 536.4]
 [1097.2]
 [ 479.6]
 [ 939.2]
 [ 187.8]
 [ 351.4]
 [   7. ]
 [  68.4]
 [ 794.6]
 [ 334.8]
 [  72.2]
 [1117.8]
 [  87.2]
 [ 289.4]
 [ 793.2]
 [ 464. ]
 [1223.8]
 [ 347.8]
 [1336.4]
 [  46.6]
 [ 586.4]
 [ 438.2]
 [ 334.4]
 [ 857. ]
 [ 810.4]
 [ 985.2]
 [1842. ]
 [1110.6]
 [1848.4]
 [  12. ]
 [ 542.2]
 [ 736.8]
 [1216. ]
 [ 697.6]
 [  21.4]
 [ 695.4]
 [ 540.8]
 [  12. ]
 [ 996.2]
 [1155.2]
 [ 100.4]
 [1455.4]
 [ 372.6]
 [ 609.2]
 [ 505.4]
 [ 581.6]
 [  30.4]
 [ 613.4]
 [ 606.4]
 [ 189. ]
 [ 906. ]
 [ 330.8]
 [ 495.4]
 [1260. ]
 [ 398. ]
 [  27.6]
 [1235. ]
 [ 413. ]
 [1301.8]
 [ 128.8]
 [ 880.8]
 [ 906.6]
 [1282.2]
 [ 873. ]
 [1086.2]
 [ 700.8]
 [ 104.6]
 [  98.2]
 [ 352. ]
 [ 814.8]
 [   7. ]
 [ 567.4]
 [ 715.2]
 [ 187.8]]

In [13]:
#Calculating error
# Get the actual values for the test set.
actual = test[y_column]

# Compute the mean squared error of our predictions.
mse = (((predictions - actual) ** 2).sum()) / len(predictions)
print(mse)

pts    10305.152782
dtype: float64

END OF ASSIGNMENT